<main>
    <section class="section section-shaped section-lg bg">
      <div class="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="card bg-secondary shadow border-0">
              <!-- <div class="card-header bg-white pb-12">
                  <h3 class="h4 text-success text-center font-weight-bold mb-4">Publier une annonce</h3>
                  <div class=" text-center mb-3">
                    <small class="text font-weight-bold">Vous partez en voyage et vous souhaitez transporter un colis, publier votre annonce en remplissant ce formulaire. C'est parti!</small>
                  </div>
      
              </div> -->
              <div class="card-body  px-lg-5  bg-white py-lg-5">
                  <!-- <div class="container-fluid">

                  </div> -->
                  <div class='row'>
                      <div class="col-md-6">
                          
                          <h4 class="title text-primary">
                              <span class="sep"><i class="fas fa-plane-departure"></i></span>  CDG- Paris
                          </h4>
                          <h5>Mer. 12 mai - 16:30</h5>
                      </div>
                      <div class="col-md-6">
                          <h4 class="title text-primary">
                              <span class="sep"><i class="fas fa-plane-arrival"></i></span>  Ivato- Antananarivo
                          </h4>
                          <h5>Jeu. 13 mai - 08:00</h5>
                        
                      </div>
                  </div>
                  <hr>
                  <p>Point de rendez-vous pour recuperer colis</p>
                  <div class='row'>
                      <div class="col-md-6">
                          <h5><i class="fas fa-map-marker-alt"></i><b> Villeneuve d'Ascq </b></h5> 
                      </div>
                      <div class="col-md-6">
                          <h5><i class="fas fa-map-marker-alt"></i> <b>  Ambodin'Isotry</b> </h5>
                        
                      </div>
                  </div>
                  <hr>
                  <div class='row'>
                      <div class="col-md-6">
                          <p><i class="fas fa-box"></i> <span><b>  23 Kg </b> </span>  ( Poids disponible )</p>
                      </div>
                      <div class="col-md-6">
                          <h4 ><b> 20 <i class="fas fa-euro-sign"></i></b> <span style="font-size: 15px;" class="text-center"> Le kilo (Kg)</span> </h4> 
                          
                         
                        
                      </div>
                     
                  </div>
                  <hr>
                  <div class='row'>
                      <div class="col-md-6">
                          <p><b>Jean-Luc </b></p>
                      </div>
                      <div class="col-md-6 ">
                          <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                              <i class="far fa-user"></i> 
                            </div>
                      </div>
                     
                  </div>
                  <br>
                  <br>
                  <div class='row'>
                      <h5 class="text-success"><i class="far fa-comments"></i><b> Contacter le voyageur </b></h5>
                  </div>
                  <br>
                  <br>
                  <div class='row'>
                      <button type="button" class="btn btn-lg btn-primary btn-block">Faire une demande</button>
                  </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  