<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned" style="
background-color: #fff;">
  <div class="container">
    <a class="navbar-brand mr-lg-5 aclass" [routerLink]="['/home']">
      <img src="./assets/img/brand/colis-logo.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']" class="aclass">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close aclass" >
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
              <a class="nav-link no-caret aclass" data-toggle="dropdown" role="button" [routerLink]="['/transport']">
                <i class="ni ni-collection d-lg-none"></i>
                <span class="nav-link-inner--text">Transporter un colis</span>
              </a>
              
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link no-caret aclass" data-toggle="dropdown" role="button" [routerLink]="['/expedier']">
                <i class="ni ni-collection d-lg-none"></i>
                <span class="nav-link-inner--text">Expedier un colis</span>
              </a>
              
          </li>




      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
	          <li class="nav-item dropdown"  *ngIf="!isUserLoggedIn">
          <a   class="nav-link no-caret aclass" data-toggle="dropdown" role="button" [routerLink]="['/login']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Se connecter</span>
          </a>

        </li>
		     
         <li class="nav-item dropdown"  *ngIf="!isUserLoggedIn" >
          <a class="nav-link no-caret aclass" data-toggle="dropdown" role="button" [routerLink]="['/register']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">S'inscrire</span>
          </a>
          
         </li>
	         
		        <li class="nav-item dropdown"  *ngIf="isUserLoggedIn" >
          <a class="nav-link no-caret aclass" data-toggle="dropdown" role="button" [routerLink]="['/logout']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Deconnexion</span>
          </a>
          
        </li>  
        <li class="nav-item dropdown"  *ngIf="isUserLoggedIn" >
          <a class="nav-link no-caret aclass" data-toggle="dropdown" role="button" >
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Bonjour {{users.nom}} {{users.prenom}} </span>
          </a>
         <!-- <li  class="nav-item dropdown">{{user.nom}} {{user.prenom}}</li>-->
        </li>
		
                 <li class="nav-item dropdown" *ngIf="isUserLoggedIn">
          <a class="nav-link no-caret aclass" data-toggle="dropdown" role="button" [routerLink]="['/user-profile']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Voir Mon profil </span>
          </a>
         <!-- <li *ngFor="let user of users" class="nav-item dropdown">{{user.nom}} {{user.prenom}}</li>-->
        </li>   
      </ul>
    </div>
  </div>
</nav>
