<main>
    <section class="section section-shaped section-lg bg">
      <div class="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">           
          <div class="col-lg-10">
            <!-- commencer boucle -->
                  <div class="card">
                      <div class="card-body">
                        <div class="d-flex px-3">
                          <div>
                            <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                              <i class="far fa-user"></i> 
                             
                            </div>
                            <br>
                            <p class="text-center"><b>Jean-Luc</b></p>
                          </div>
                          <div class="vl"></div>
                          <div class="pl-4">
                            <h5 class="title text-primary">
                                <span class="sep"><i class="fas fa-plane-departure"></i></span>  CDG- Paris
                            </h5>
                           
                            <p><b>jeu. 13 mai</b></p>
                            <p class="text-success"><i class="fas fa-map-marker-alt"></i><b> Villeneuve d'Ascq </b></p>                         
                          </div>
                          <div class="vl"></div>
                         
                          <div class="pl-4">
                            <h5 class="title text-primary">
                                <span class="sep"><i class="fas fa-plane-arrival"></i></span>  Ivato- Antananarivo
                            </h5>
                            <p><b>jeu. 13 mai</b></p>
                            <p class="text-success"><i class="fas fa-map-marker-alt"></i> <b>  Ambodin'Isotry</b> </p>
                          </div>
                          <div class="vl"></div>
                          <div class="vl1"></div>
                          <div class="vl"></div>
                         
                          <div>
                            <p><i class="fas fa-box"></i> <span><b>  23 Kg </b> </span>  ( Poids disponible )</p>
                            <h2 class="text-center"><b> 20 <i class="fas fa-euro-sign"></i></b></h2>
                            <a  class="btn btn-1  btn-block btn-outline-primary text-center" [routerLink]="['/detail-annonce']">Voir detail</a>
                          </div>
                        </div>
               
                      </div>
                     
                    </div>
                    <!-- fin boucle -->
                  
          </div>
        </div>
      </div>
    </section>
  </main>
  
  